[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=eclipse luna
Icon=/home/sample/bin/eclipse-jee-luna-SR2-linux-gtk-x86_64/icon.xpm
Path=/home/sample/bin/eclipse-jee-luna-SR2-linux-gtk-x86_64
Exec=/home/sample/bin/eclipse-jee-luna-SR2-linux-gtk-x86_64/eclipse
Actions=Clean

[Desktop Action Clean]
Name=Clean
Exec=eclipse -clean
